#canvas {
    background-color: white;
    width: auto;
    height: 100vh;
    aspect-ratio: 4 / 3;
    display: block;
    margin: 0 auto;
}

body {
    margin: 0;
    background-color: black;
}

#container {
    display: grid;
    place-items: center;      /* shorthand for centering */
    height: 100vh;
    border: 1px solid #111;
}